body
{
    background-color: rgb(210, 255, 48);
    color:rgb(49, 65, 97);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submit-btn
{
    margin-left: 60px;
    background-color: rgb(255, 123, 150);
    color: rgb(53, 52, 52);
}