p {
    color: rgb(34, 34, 66);
}

ul.center {
    color: rgb(51, 51, 51);
    font-family: Verdana;
}

table.center {
    color: rgb(51, 51, 51);
}

th {
    font-size: large;
    color:rgb(0, 8, 78)
}

td {
    color: rgb(51, 51, 51);
    font-family: Verdana;
}

body {
    background-color: rgb(247, 56, 94);
}